body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
}
h1 {
    text-align: center;
}
form {
display: flex;
flex-direction: column;
gap: 10px;
margin-bottom: 20px;
}
#vehiclelist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.card {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
button {
    cursor: pointer;
}
.delete-bin {
    background: red;
    color: white;
    margin-right: 10px;
}